<h1 class="center">Liste de Pokémons</h1>


<input 
    #input
    (keyup.enter)="selectPokemon(input.value)"
    (keyup.backspace)="selectPokemon(input.value)"
    type="number" 
>



<p *ngIf="pokemonSelected && pokemonSelected !== null">
    Vous avez sélectionné le pokémon : {{ pokemonSelected.name }}
</p>


<p *ngIf="!pokemonSelected">
    Sélectionnez un pokémon !
</p>



<div class="container">
    <div class="row">

        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal">

                <div class="card-image">
                    <img [src]="pokemon.picture" alt="Image du pokémon {{pokemon.name}}">
                </div>

                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created }}</small></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<router-outlet />